
<footer class="p-3 row p-sm-5">
    <div class="col-12 col-sm-3">
        <h3 class="text-warning">Liên hệ</h3>
        <span class="text-white text-opacity-75">Đại chỉ : 9 103/19 ngõ 103 Phương Canh </span>
        <br>
        <span class="text-white text-opacity-75">Điện thoại : 0599131804 - 0393267599</span>
        <br>
        <span class="text-white text-opacity-75">Email : nbduy4606@gmail.com</span>
    </div>
    <div class="col-12 col-sm-6">
        <h3 class="text-warning">GoCoffee</h3>

        <div class="row">
            <div class="footerHome col-3 col-md-3">
                <span class="text-white fs-5">Home <br></span>
                <ul class="nav flex-column text-white">
                    <li class="nav-item">
                      <a class="nav-link text-secondary" href="/">Home</a>
                    </li>
                </ul>
            </div>
            <div class="footerSp col-4 col-md-3">
                <span class="text-white fs-5">Sản phẩm</span>
                <ul class="nav flex-column text-white">
                    <li class="nav-item">
                      <a class="nav-link text-secondary" href="/">Sản phẩm</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-secondary" href="/">Loại sản phẩm</a>
                    </li>
                </ul>
            </div>
    
            <div class="footerUser col-2 col-md-3">
                <span class="text-white fs-5">Tài Khoản</span>
                <ul class="nav flex-column text-white">
                    <li class="nav-item">
                      <a class="nav-link text-secondary" href="/">Tài khoản</a>
                    </li>
                </ul>
            </div>

            <div class="footerUser col-2 col-md-3">
                <span class="text-white fs-5">Hóa đơn</span>
                <ul class="nav flex-column text-white">
                    <li class="nav-item">
                      <a class="nav-link text-secondary" href="/">Hóa đơn</a>
                    </li>
                </ul>
            </div>
        </div>
        
    </div>
    <div class="col-12 col-sm-3">
        <h3 class="text-warning">Về chúng tôi</h3>
        <a href="https://www.facebook.com/DuyCoderDao" style="text-decoration: none; color: #FFFFFFBF;">
            <i class="bi bi-facebook me-1" style="font-size: 1.1rem; color: #e3e3e3;"></i>
            <span>Nguyễn Bá Duy</span>
        </a>
        
        <!-- https://www.facebook.com/nvtien8?mibextid=ZbWKwL -->
        <!-- https://www.facebook.com/vu.hungg.52?mibextid=LQQJ4d -->
    </div>
</footer>
</body>
</html>