<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoCoffee</title>
    <link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/indexStyle.css">
    <link rel="stylesheet" href="/images/bootstrap-icons-1.10.5/font/bootstrap-icons.css">
    <script src="/javascripts/js/bootstrap.bundle.js"></script>
</head>
<body>
    <header >
        <nav class="headerMenu navbar navbar-expand-lg ps-5 pe-5">
            <div class="container-fluid">
                <img src="/images/logo.png" class="logo" alt="">
                <a class="navbar-brand fw-semibold fs-2" href="/">GoCoffee</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse fw-semibold fs-5" id="navbarSupportedContent">
                <ul class="nemuTop navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Sản phẩm
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/sp">Sản phẩm</a></li>
                        <li><a class="dropdown-item" href="/loai-sp">Loại sản phẩm</a></li>
                    </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/account">Tài khoản</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/account">Hóa đơn</a>
                    </li>
                </ul>
                </div>
            </div>
        </nav>
    </header>