<%- include('./inc/header.ejs') %>

<h2 class="text-center mt-4">Home</h2>
<div class="row p-3 p-sm-5">
    <div class="col-md-6 col-sm-12">
        <div class="card border border-info">
            <div class="row card-body">
                <div class="col-auto">
                    <img class="m-3" src="/images/user.png" alt="" srcset="" width="100px" height="100px">
                </div>
                <div class="col-auto">
                    <h4>Tổng khách hàng</h4>
                    <p><b>
                            khách hàng
                        </b></p>
                    <p class="">Tổng số khách hàng được quản lý.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="card border border-primary">
            <div class="row card-body">
                <div class="col-auto">
                    <img class="m-3" src="/images/product.png" alt="" srcset="" width="100px" height="100px">
                </div>
                <div class="col-auto">
                    <h4>Tổng sản phẩm</h4>
                    <p><b>
                            sản phẩm
                        </b></p>
                    <p class="info-tong">Tổng số sản phẩm được quản lý.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12 mt-4">
        <div class="card border border-success">
            <div class="row card-body">
                <div class="col-auto">
                    <img class="m-3" src="/images/category.png" alt="" srcset="" width="100px" height="100px">
                </div>
                <div class="col-auto">
                    <h4>Tổng thể loại</h4>
                    <p><b>
                            thể loại
                        </b></p>
                    <p class="info-tong">Tổng số thể loại được quản lý. </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12 mt-4">
        <div class="card border border-danger">
            <div class="row card-body">
                <div class="col-auto">
                    <img class="m-3" src="/images/nhanvien.png" alt="" srcset="" width="100px" height="100px">
                </div>
                <div class="col-auto">
                    <h4>Tổng nhân viên</h4>
                    <p><b>
                            nhân viên
                        </b></p>
                    <p class="info-tong">Tổng số nhân viên được quản lý. </p>
                </div>
            </div>
        </div>
    </div>
</div>


    <%- include('./inc/footer.ejs') %>